<% if user_signed_in? %>
  <%= link_to 'New Note', new_note_path, class: "btn btn-primary" %>
  <hr>

  <h1>Notes</h1>
  <div class="row">
    <% @notes.each do |note| %>
      <div class="col-sm-4">
          <div class="card">
            <h5 class="card-header"><%= note.category.title %></h5>
            <div class="card-body">
              <h5 class="card-title"><%= note.title %></h5>
              <p class="card-text"><%= note.body %></p>
              <a><%= link_to 'Edit', edit_note_path(note), class: 'btn btn-primary' %></a>
              <a><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></a>
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>Self#Notes</h1>
  <div class="row">
    <div class="col-6">
      <p class="lead">create notes and remind to organize your day.</p>
      <p class="lead">Separate notes by topic and priorities so everything is easy to find when you need it most.</p>
      <p class="lead">Set alerts to be reminded of your priorities, such as paying bills, appointments and several important dates on your agenda.</p>
    </div>
  </div>
<% end %>
