<p class="shadow-none p-3 mb-5 bg-light rounded">
  <strong><%= @category.title %></strong>
  <%= link_to 'New Note', new_category_note_path(@category), class: "btn btn-success" %>
  <%= link_to 'Edit Category', edit_category_path(@category), class: "btn btn-primary" %>
  <%= link_to 'Destroy Category', @category, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
</p>

<h1>Notes</h1>
<div class="row">
  <% @notes.each do |note| %>
    <div class="col-sm-4">
      <%= render partial: 'notes/note_card', locals: { note: note } %>
    </div>
  <% end %>
</div>
